<!-- logout content -->
<div class="modal fade" id="logoutModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
        <p>
            Are you sure you want to logout?
        </p>
        <p>
            <a href="/" class="btn btn-success" role="button" aria-pressed="true">Yes</a>
        </p>
        <p>
            <button href="#" type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </p>
        </div>
    </div>
    </div>
</div>